__pycache__/
experiments/
wandb/
.DS_Store
checkpoints/
.idea/
.ipynb_checkpoints/
run_*
launch_run.py
old_scripts/
saved_logits/
plots/
logits/
.vscode/
artifacts/
Experiments/
*.ipynb
*.sh
launch_*
